<div class="row">
  <aside class="col-sm-4">
    
      <div class="header">
        <h3 class="title"><%= @user.name %></h3>
      </div>
      <div class="body">
        
      </div>
  </aside>
  
</div>